{
  "connectors": [
    {
      "type": "rest-api",
      "name": "REST API",
      "config": {
        "apiUrl": "http://localhost:5678/api/clientstate/update",
        "systemKey": "bGdeP1F7HyOAGjjFIzrZ6Y4UqXfz6ahxY1PJEWCHGDk="
      }
    }
  ],
  "plugins": [
    "pm2",
    "os",
    "web",
    "ewelink"
  ],
  "ewelink": {
    "name": "ewelink",
    "uniqueId": "ewelink",
    "refreshInterval": 10000
  },
  "pm2": {
    "name": "pm2",
    "uniqueId": "pm2",
    "refreshInterval": 10000
  },
  "web": {
    "endpoints": [
      {
        "name": "L422Y.COM",
        "url": "https://l422y.com",
        "expectedStrings": [
          "l422y"
        ]
      },
      {
        "name": "CITYRFP STAGE",
        "url": "https://stage.cityrfp.com",
        "": [
          "Bad Gateway"
        ]
      }
    ]
  }
}
